name: Just Deploy

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-22.04-arm

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build and push to GHCR
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ghcr.io/szer/coupon-bot:${{ github.sha }}, ghcr.io/szer/coupon-bot:latest
        file: ./Dockerfile
        platforms: linux/arm64
